/* index.css */
@import "tailwindcss";

body {
  background-image: url("../public/images/fondo4.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
}